@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <div class="user-profile dropdown">
            @if (context.User.Identity?.IsAuthenticated == true)
            {
                var pictureUrl = context.User.FindFirst("urn:google:picture")?.Value;
                if (!string.IsNullOrEmpty(pictureUrl))
                {
                    <img src="@pictureUrl" alt="Profile Picture" class="profile-picture dropdown-toggle" data-bs-toggle="dropdown" />
                }
                else
                {
                    <div class="profile-initials dropdown-toggle" data-bs-toggle="dropdown">@context.User.Identity.Name.Substring(0, 1)</div>
                }
                <div class="dropdown-menu dropdown-menu-end">
                    <div class="dropdown-content">
                        <div class="dropdown-header">@context.User.Identity.Name</div>
                        <a href="api/auth/logout" class="dropdown-item">Logout</a>
                    </div>
                </div>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="auth-buttons">
            <a href="login" class="btn btn-secondary">Giriş Yap</a>
            <a href="register" class="btn btn-primary-gold">Kayıt Ol</a>
        </div>
    </NotAuthorized>
</AuthorizeView>