.auth-buttons[b-8j172auywp] {
    display: flex;
    gap: 10px;
}

.auth-buttons .btn-secondary[b-8j172auywp] {
    background-color: transparent;
    border: 1px solid #ffd700; /* Gold border */
    color: #ffd700; /* Gold text */
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
}

.auth-buttons .btn-secondary:hover[b-8j172auywp] {
    background-color: #ffd700;
    color: #000;
}


.auth-buttons .btn-primary-gold[b-8j172auywp] {
    background-color: #ffd700;
    border-color: #ffd700;
    color: #000;
    padding: 8px 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.auth-buttons .btn-primary-gold:hover[b-8j172auywp] {
    background-color: #e6c300; /* Darker gold on hover */
    transform: translateY(-2px);
}
.profile-picture[b-8j172auywp], .profile-initials[b-8j172auywp] {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.profile-picture:hover[b-8j172auywp], .profile-initials:hover[b-8j172auywp] {
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.7); /* Gold glow */
}

.profile-initials[b-8j172auywp] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
}