.auth-buttons[b-8j172auywp] {
    display: flex;
    gap: 10px;
}

.auth-buttons .btn[b-8j172auywp] {
    padding: 0.5rem 1.1rem !important;
    font-size: 0.85rem !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
    text-transform: none !important;
    letter-spacing: normal !important;
}

.auth-buttons .btn-secondary[b-8j172auywp] {
    background-color: transparent;
    border: 1px solid #ffd700 !important; /* Gold border */
    color: #ffd700 !important; /* Gold text */
    transition: background-color 0.3s, color 0.3s;
}

.auth-buttons .btn-secondary:hover[b-8j172auywp] {
    background-color: #ffd700 !important;
    color: #000 !important;
}

.auth-buttons .btn-primary-gold[b-8j172auywp] {
    background-color: #ffd700 !important;
    border: 1px solid #ffd700 !important;
    color: #000 !important;
    transition: background-color 0.3s, transform 0.3s;
}

.auth-buttons .btn-primary-gold:hover[b-8j172auywp] {
    background-color: #e6c300 !important;
    border-color: #e6c300 !important;
    transform: translateY(-2px) !important;
}
.profile-picture[b-8j172auywp], .profile-initials[b-8j172auywp] {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.profile-picture:hover[b-8j172auywp], .profile-initials:hover[b-8j172auywp] {
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.7); /* Gold glow */
}

.profile-initials[b-8j172auywp] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
}