@page "/register"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<div class="text-center">
    <h3>BarberBooking'e Hoş Geldiniz!</h3>
    <p>Salonunuzu dijitalleştirmek için Google ile kaydolun.</p>
    <a href="api/auth/login?returnUrl=/registersalon" class="btn btn-primary">Register with Google</a>
</div>